In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
endpoint = 'https://www.datos.gov.co/resource/axk9-g2nh.json'

In [3]:
r = requests.get(endpoint)

In [4]:
r.status_code

200

In [5]:
data = r.json()

In [6]:
type(data)

list

In [7]:
tablaDatos = pd.json_normalize(data)
tablaDatos

,codificacion,tipoentidad,codigoentidad,nombreentidad,fechacorte,uca,nombre_unidad_de_captura,subcuenta,descripcion,tasa,monto
0,4410101100,1,13,BANCO BILBAO VIZCAYA ARGENTARIA COLOMBIA S.A. ...,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,100,ENTRE 121 Y 179 DIAS,11.02,215930.01
1,4410101070,1,23,BANCO DE OCCIDENTE S.A.,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,70,A 90 DIAS,14.54,23818648.52
2,4410101100,32,4,COTRAFA FINANCIERA,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,100,ENTRE 121 Y 179 DIAS,10.73,23059
3,4410101090,32,2,JFK COOPERATIVA FINANCIERA,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,90,A 120 DIAS,9.64,161745.84
4,4410101020,1,57,BANCO PICHINCHA S.A.,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,20,ENTRE 31 Y 44 DIAS,0.1,28445.92
...,...,...,...,...,...,...,...,...,...,...,...
995,4410105230,1,57,BANCO PICHINCHA S.A.,2020-10-22T00:00:00.000,5,COMPROMISOS DE TRANSFERENCIA EN OPERACIONES RE...,230,BANCO DE LA REPUBLICA,1.75,48000000
996,4410101090,32,2,JFK COOPERATIVA FINANCIERA,2019-08-14T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,90,A 120 DIAS,4.56,133905.48
997,4410101130,32,1,COOPERATIVA FINANCIERA DE ANTIOQUIA,2019-06-04T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,130,A 360 DIAS,6.51,148194
998,4410101140,4,26,TUYA S.A C.F,2019-04-23T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,140,SUPERIORES A 360 DIAS,5.83,380000
999,4410101110,1,30,BANCO CAJA SOCIAL S.A.,2018-11-29T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,110,A 180 DIAS,4.5,7509190.63

In [8]:
tablaDatos.head()

,codificacion,tipoentidad,codigoentidad,nombreentidad,fechacorte,uca,nombre_unidad_de_captura,subcuenta,descripcion,tasa,monto
0,4410101100,1,13,BANCO BILBAO VIZCAYA ARGENTARIA COLOMBIA S.A. ...,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,100,ENTRE 121 Y 179 DIAS,11.02,215930.01
1,4410101070,1,23,BANCO DE OCCIDENTE S.A.,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,70,A 90 DIAS,14.54,23818648.52
2,4410101100,32,4,COTRAFA FINANCIERA,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,100,ENTRE 121 Y 179 DIAS,10.73,23059
3,4410101090,32,2,JFK COOPERATIVA FINANCIERA,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,90,A 120 DIAS,9.64,161745.84
4,4410101020,1,57,BANCO PICHINCHA S.A.,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,20,ENTRE 31 Y 44 DIAS,0.1,28445.92

In [12]:
#Obtener informaciÃ³n sobre los tipos de datos de cada columna: df.info().

tablaDatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   codificacion              1000 non-null   object
 1   tipoentidad               1000 non-null   object
 2   codigoentidad             1000 non-null   object
 3   nombreentidad             1000 non-null   object
 4   fechacorte                1000 non-null   object
 5   uca                       1000 non-null   object
 6   nombre_unidad_de_captura  1000 non-null   object
 7   subcuenta                 1000 non-null   object
 8   descripcion               1000 non-null   object
 9   tasa                      1000 non-null   object
 10  monto                     1000 non-null   object
dtypes: object(11)
memory usage: 86.1+ KB

In [13]:
#Calcular estadÃ­sticas descriptivas bÃ¡sicas de las columnas numÃ©ricas: df.describe().

tablaDatos.describe()

,codificacion,tipoentidad,codigoentidad,nombreentidad,fechacorte,uca,nombre_unidad_de_captura,subcuenta,descripcion,tasa,monto
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,37,5,45,53,444,5,5,17,28,606,885
top,4410101130,1,1,BANCOLOMBIA S.A.,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,900,A 360 DIAS,11,80000000
freq,75,701,65,51,440,789,789,121,75,61,29

A continuaciÃ³n lo que hare es identificar y maneja los valores faltantes en el dataset.

In [14]:
#Verificar si hay valores nulos en el DataFrame: df.isnull().sum().

tablaDatos.isnull().sum()

codificacion                0
tipoentidad                 0
codigoentidad               0
nombreentidad               0
fechacorte                  0
uca                         0
nombre_unidad_de_captura    0
subcuenta                   0
descripcion                 0
tasa                        0
monto                       0
dtype: int64

En este caso y de esta forma no se han encontrado valores null por lo tanto pasamos al siguiente paso, si dado el caso hubiese habido algun valor en null, se rellenaria con un valor especifico, ya sea la media o la mediana de la columna con: tablaDatos.fillna(valor)

#### Para el siguiente paso vamos a ver si hay valores duplicados.

In [16]:
#Verificar duplicados basados en todas las columnas: df.duplicated().sum().

tablaDatos.duplicated().sum()

0

Para este caso tampoco encuentra alguna fila duplicada que haya sido comparada en todas las columnas.

En este caso evidenciamos que esta tabla tiene columnas con numeros que son identificadas como object, por lo que pasaremos estas columnas a numros enteros

In [34]:
#Cambiar el tipo de datos de las columnas 

#print(tablaDatos['tasa'].unique())

tablaDatos['tasa'] = tablaDatos['tasa'].astype(float)
tablaDatos['uca'] = tablaDatos['uca'].astype(int)
tablaDatos['nombre_unidad_de_captura'] = tablaDatos['nombre_unidad_de_captura'].astype(str)
tablaDatos['monto'] = tablaDatos['monto'].astype(float)

print(tablaDatos.dtypes)

codificacion                 object
tipoentidad                  object
codigoentidad                object
nombreentidad                object
fechacorte                   object
uca                           int32
nombre_unidad_de_captura     object
subcuenta                    object
descripcion                  object
tasa                        float64
monto                       float64
dtype: object

In [32]:
tablaDatos.head()

,codificacion,tipoentidad,codigoentidad,nombreentidad,fechacorte,uca,nombre_unidad_de_captura,subcuenta,descripcion,tasa,monto
0,4410101100,1,13,BANCO BILBAO VIZCAYA ARGENTARIA COLOMBIA S.A. ...,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,100,ENTRE 121 Y 179 DIAS,11.02,215930.01
1,4410101070,1,23,BANCO DE OCCIDENTE S.A.,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,70,A 90 DIAS,14.54,23818648.52
2,4410101100,32,4,COTRAFA FINANCIERA,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,100,ENTRE 121 Y 179 DIAS,10.73,23059
3,4410101090,32,2,JFK COOPERATIVA FINANCIERA,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,90,A 120 DIAS,9.64,161745.84
4,4410101020,1,57,BANCO PICHINCHA S.A.,2022-12-01T00:00:00.000,1,EMISIONES PUNTUALES Y RANGOS DE EMISION DE CDT,20,ENTRE 31 Y 44 DIAS,0.10,28445.92

De esta forma modifique y trate de ejecutar algunos cambios al dataset para poder generar la entrega y la lipieza de datos de alguna de las columnas